<h1>Add Attendance</h1>

<%= form_for @attend do |f| %>
  <% if @attend.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @attend.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for @event do |event_form| %>
    Event<br />
    <%= event_form.text_field :name %><br />

    <%= event_form.label :date %><br />
    <%= event_form.text_field :date %><br />

    <%= event_form.fields_for @artist do |artist_form| %>
        Artist<br />
        <%= artist_form.text_field :name %><br />
    <% end %>

    <%= event_form.fields_for @venue do |venue_form| %>
        Venue<br />
        <%= venue_form.text_field :name %><br />
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :rating %><br />
    <%= f.number_field :rating %>
  </div>

  <div class="field">
    <%= f.label :review %><br />
    <%= f.text_area :review %>
  </div>

  <div class="actions"><%= f.submit "Add Attendance" %></div>
<% end %>
